{% extends "base.html" %}

{% block content %}
{% load static %}
        <div class="card text-center  col-lg-8 sm-12">
            <div class="card-header">
              Welcome To The Build Lab
            </div>
            <div id="showcase" class="card-body">
              <h5 class="card-title">The Build Lab</h5>
              <p class="card-text">The build lab has been built from the ground up to provide everyone with an experience tailored to
                  what they want from the site.
                  <hr>
                  If you do not register with the site you can browse the news, and see what we're all about.
                  <br>
                  <br>
                  Register as a free user to get an intro to each card game we play, why we like/dislike it, and find out if 
                  it's for you!
                  <br>
                  <br>
                  Register as a <strong><a href="{% url 'premium' %}" id="sales-pitch">PREMIUM USER</a></strong> to get access to our bonus content. This includes 
                  things like deck techs, fun ideas for new game modes, and much more! 
              </p>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>

          <div class="card-group col-lg-4 sm-12">
            <div class="card">
              <img src="{% static 'images/obelisk.jpg' %}" class="card-img-top" alt="Obelisk the tormentor">
              <div class="card-body">
                <h5 class="card-title">No Registration</h5>
                <p class="card-text">New here? Don't want to bother with all the faff of logging in and/or paying to feed my family?
                  NO PROBLEM: Just jump in and see the latest news for all things cardgames. If you feel like joining our lab later that's always an option.
                </p>
              </div>
              <div class="card-footer">
                <a class="call-to-action" href="{% url 'news' %}">Find Out More</a>
              </div>
            </div>
            <div class="card col-lg-4 sm-12">
              <img src="{% static 'images/SlifertheSkyDragon-OW.png' %}" class="card-img-top" alt="Slifer The Sky Dragon">
              <div class="card-body">
                <h5 class="card-title">Registered Free User</h5>
                <p class="card-text">Register or log in and gain access to a full run down on each game we're playing. We deep dive into games both old 
                  and new. Rare gems, and old staples. We value your support and you're sure to find something to enjoy here!
                </p>
              </div>
              <div class="card-footer">
                <a class="call-to-action" href="{% url 'games' %}">Check it out!</a>
              </div>
            </div>
            <div class="card col-lg-4 sm-12">
              <img src="{% static 'images/winged-dragon-of-ra.jpg' %}" class="card-img-top" alt="Winged Dragon of Ra">
              <div class="card-body">
                <h5 class="card-title">Premium User</h5>
                <p class="card-text">Upgrade to a premium user in order to gain access to the elite clubhouse! This is where the best content on
                  the site is; Competitive deck techs, fun build ideas, tutorials on what's hot, and much, much more!
                  <br>
                  <br>
                  Pay once and get access to all premium content for life.
                </p>
              </div>
              <div class="card-footer">
                <a class="call-to-action" href="{% url 'premium' %}">Check out PREMIUM</a>
              </div>
            </div>
          </div>
{% endblock %}