{% extends "base.html" %}

{% block content %}
{% load static %}
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
              Welcome To The Build Lab
            </div>
            <div id="showcase" class="card-body">
              <h5 class="card-title">The Build Lab</h5>
              <p class="card-text">The build lab has been built from the ground up to provide everyone with an experience tailored to
                  what they want from the site.
                  <hr>
                  If you do not register with the site you can browse the news, and see what we're all about.
                  <br>
                  <br>
                  Register as a free user to get an intro to each card game we play, why we like/dislike it, and find out if 
                  it's for you!
                  <br>
                  <br>
                  Register as a <strong><a href="#" id="sales-pitch">PREMIUM USER</a></strong> to get access to our bonus content. This includes 
                  things like deck techs, fun ideas for new game modes, and much more! 
              </p>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>

          <div class="card-group">
            <div class="card">
              <img src="{% static '/images/obelisk.jpg' %}" class="card-img-top" alt="Obelisk the tormentor">
              <div class="card-body">
                <h5 class="card-title">No Registration</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
                    This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <a class="call-to-action" href="#">Find Out More</a>
              </div>
            </div>
            <div class="card">
              <img src="{% static '/images/SlifertheSkyDragon-OW.png' %}" class="card-img-top" alt="Slifer The Sky Dragon">
              <div class="card-body">
                <h5 class="card-title">Registered Free User</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <a class="call-to-action" href="#">Find Out More</a>
              </div>
            </div>
            <div class="card">
              <img src="{% static '/images/winged-dragon-of-ra.jpg' %}" class="card-img-top" alt="Winged Dragon of Ra">
              <div class="card-body">
                <h5 class="card-title">Premium User</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <a class="call-to-action" href="#">Find Out More</a>
              </div>
            </div>
          </div>

    </div>
{% endblock %}