{% extends "base.html" %}

{% block content %}
{% load static %}

    <div col-md-12>
        <h3 class="welcome">You're very welcome back, {{ user.get_username.capitalize }}!</h3>
    </div>

{% for content in contents %}
    <div class="card mb-3">
        <img src="{% static 'images/exodia-tech.jpg' %}" id="premium-img" class="card-img-top" alt="{{ content.name }} image">
        <div class="card-body">
        <h5 id="premium-title" class="card-title"><strong>{{ content.name }}</strong></h5>
        <hr>
        <p id="premium-text" class="card-text">{{ content.description|linebreaks }}</p>
        </div>
    </div>
{% endfor %}


{% endblock %}